#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <2>;
    trigger-period-ms = <16>;
};

&mt {
    flavor = "balanced";
    quick-tap-ms = <175>;
    tapping-term-ms = <300>;
    require-prior-idle-ms = <150>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <175>;
    tapping-term-ms = <300>;
    require-prior-idle-ms = <150>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    behaviors {
        mm_ae: mm_ae {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&altcode_ae>, <&altcode_ae_upper>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        mm_oe: mm_oe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&altcode_oe>, <&altcode_oe_upper>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        mm_ue: mm_ue {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&altcode_ue>, <&altcode_ue_upper>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_n1 {
            bindings = <&kp N1>;
            key-positions = <14 27>;
            layers = <0>;
        };
        combo_n2 {
            bindings = <&kp N2>;
            key-positions = <15 28>;
            layers = <0>;
        };
        combo_n3 {
            bindings = <&kp N3>;
            key-positions = <16 29>;
            layers = <0>;
        };
        combo_n4 {
            bindings = <&kp N4>;
            key-positions = <17 30>;
            layers = <0>;
        };
        combo_n5 {
            bindings = <&kp N5>;
            key-positions = <18 31>;
            layers = <0>;
        };
        combo_n6 {
            bindings = <&kp N6>;
            key-positions = <20 33>;
            layers = <0>;
        };
        combo_n7 {
            bindings = <&kp N7>;
            key-positions = <21 34>;
            layers = <0>;
        };
        combo_n8 {
            bindings = <&kp N8>;
            key-positions = <22 35>;
            layers = <0>;
        };
        combo_n9 {
            bindings = <&kp N9>;
            key-positions = <23 36>;
            layers = <0>;
        };
        combo_n0 {
            bindings = <&kp N0>;
            key-positions = <24 37>;
            layers = <0>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <30 31>;
            layers = <0>;
        };
        combo_grave {
            bindings = <&kp GRAVE>;
            key-positions = <28 41>;
            layers = <0>;
        };
        combo_equal {
            bindings = <&kp EQUAL>;
            key-positions = <29 42>;
            layers = <0>;
        };
        combo_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <30 43>;
            layers = <0>;
        };

        combo_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <34 47>;
            layers = <0>;
        };
        combo_minus {
            bindings = <&kp MINUS>;
            key-positions = <33 34>;
            layers = <0>;
        };
        combo_bslh {
            bindings = <&kp BSLH>;
            key-positions = <35 48>;
            layers = <0>;
        };
        combo_sqt {
            bindings = <&kp SQT>;
            key-positions = <36 49>;
            layers = <0>;
        };
        combo_capsword {
            bindings = <&caps_word>;
            key-positions = <46 47>;
            layers = <0>;
        };

        combo_delword {
            bindings = <&kp LC(BSPC)>;
            key-positions = <20 21>;
            layers = <0>;
        };

        combo_hardrefresh {
            bindings = <&kp LC(LS(R))>;
            key-positions = <43 44>;
            layers = <0>;
        };

        Escape_0 {
            bindings = <&to 0>;
            key-positions = <0 57>;
        };

        GT_6 {
            bindings = <&to 6>;
            key-positions = <57 1>;
        };
    };

    macros {
        mo_rgb1: mo_rgb1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(122,100,50) &mo 1>,
                <&macro_pause_for_release>,
                <&rgb_ug RGB_COLOR_HSB(179,100,50)>;

            label = "MO_RGB1";
        };

        mo_rgb2: mo_rgb2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&rgb_ug RGB_COLOR_HSB(289,100,50) &mo 2>,
                <&macro_pause_for_release>,
                <&rgb_ug RGB_COLOR_HSB(179,100,50)>;

            label = "MO_RGB2";
        };

        mo_rgb3: mo_rgb3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog 3 &rgb_ug RGB_COLOR_HSB(59,100,50)>,
                <&macro_pause_for_release>,
                <&rgb_ug RGB_COLOR_HSB(179,100,50) &tog 3>;

            label = "MO_RGB3";
        };

        mo_rgb4: mo_rgb4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog 4 &rgb_ug RGB_COLOR_HSB(360,100,50)>,
                <&macro_pause_for_release>,
                <&rgb_ug RGB_COLOR_HSB(179,100,50) &tog 4>;

            label = "MO_RGB4";
        };

        altcode_ae: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_8 &kt RIGHT_ALT>;
            label = "NEW_MACRO";
        };

        altcode_oe: altcode_oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_4 &kp KP_NUMBER_6 &kt RIGHT_ALT>;
            label = "ALTCODE_OE";
        };

        altcode_ue: altcode_ue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_5 &kp KP_NUMBER_2 &kt RIGHT_ALT>;
            label = "ALTCODE_UE";
        };

        altcode_ss: altcode_ss {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &kt RIGHT_ALT>;
            label = "ALTCODE_SS";
        };

        MO_6to0: MO_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0>, <&macro_pause_for_release>, <&to 6>;

            label = "MO_0";
        };

        macro_fat_arrow: macro_fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp SPACE &kp EQUAL &kp GT &kp SPACE &kp LBRC &kp RBRC &kp LEFT>;
            label = "MACRO_FAT_ARROW";
        };

        macro_del_line: macro_del_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END) &kp BSPC>;
            label = "MACRO_DEL_LINE";
        };

        macro_quotes: macro_quotes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DQT &kp LEFT>;
            label = "MACRO_QUOTES";
        };

        macro_parens: macro_parens {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
            label = "MACRO_PARENS";
        };

        macro_brackets: macro_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
            label = "MACRO_BRACKETS";
        };

        macro_braces: macro_braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
            label = "MACRO_BRACES";
        };

        macro_git_commit: macro_git_commit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp O &kp M &kp M &kp I &kp T &kp SPACE &kp MINUS &kp M &kp SPACE &kp DQT &kp DQT &kp LEFT>;
            label = "MACRO_GIT_COMMIT";
        };

        altcode_ae_upper: altcode_ae_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_9 &kp KP_NUMBER_6 &kt RIGHT_ALT>;
            label = "ALTCODE_AE_UPPER";
        };

        altcode_oe_upper: altcode_oe_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_1 &kp KP_NUMBER_4 &kt RIGHT_ALT>;
            label = "ALTCODE_OE_UPPER";
        };

        altcode_ue_upper: altcode_ue_upper {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_2 &kp KP_NUMBER_2 &kp KP_NUMBER_0 &kt RIGHT_ALT>;
            label = "ALTCODE_UE_UPPER";
        };

        altcode_EURO: altcode_EURO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kt RIGHT_ALT &kp KP_NUMBER_0 &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_8 &kt RIGHT_ALT>;
            label = "ALTCODE_EURO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp TILDE   &kp N1  &kp N2       &kp N3           &kp N4                &kp N5                  &kp UP_ARROW     &kp N6                 &kp N7                 &kp N8        &kp N9               &kp N0              &kp EQUAL
&kp ESCAPE  &kp Q   &kp W        &kp E            &kp R                 &kp T                   &kp DOWN_ARROW   &kp Y                  &kp U                  &kp I         &kp O                &kp P               &caps_word
&kp TAB     &kp A   &mt LCTRL S  &mt LGUI D       &mt LALT F            &kp G                   &kp LEFT_ARROW   &kp H                  &mt RIGHT_ALT J        &mt RGUI K    &mt RIGHT_CONTROL L  &lt 5 SEMICOLON     &kp SQT
&kp MINUS   &kp Z   &kp X        &kp C            &kp V                 &kp B                   &kp RIGHT_ARROW  &kp N                  &kp M                  &kp COMMA     &kp DOT              &kp FSLH            &kp BACKSLASH
&kp K_MUTE  &to 0   &mo_rgb4     &lt 1 BACKSPACE  &mt LEFT_SHIFT SPACE  &lt 7 ENTER             &kp ENTER        &lt 3 ENTER            &mt RIGHT_SHIFT SPACE  &lt 2 DELETE  &mo_rgb3             &kp K_CONTEXT_MENU
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "BASE";
        };

        NUMBERS {
            bindings = <
&out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &bt BT_CLR  &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &out OUT_USB
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6          &mmv MOVE_DOWN   &kp F7      &kp F8           &kp F9           &kp F10          &kp F11          &kp F12
&kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &mmv MOVE_LEFT   &kp N6      &kp N7           &kp N8           &kp N9           &kp N0           &kp EQUAL
&kp CARET     &kp APOS      &kp BSLH      &kp FSLH      &kp LBKT      &kp DOLLAR      &mmv MOVE_RIGHT  &kp SEMI    &kp RBKT         &kp MINUS        &kp COMMA        &kp DOT          &kp ENTER
&mkp RCLK     &trans        &trans        &trans        &trans        &trans          &mkp LCLK        &trans      &trans           &kp PAGE_UP      &kp PAGE_DOWN    &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "NUMBERS";
        };

        NAV {
            bindings = <
&kp F1      &kp F2           &kp F3          &kp F4           &kp F5           &kp F6             &mmv MOVE_UP     &kp F7           &kp F8           &kp F9           &kp F10      &kp F11           &kp F12
&trans      &trans           &mkp LCLK       &mmv MOVE_UP     &mkp RCLK        &msc SCRL_UP       &mmv MOVE_DOWN   &kp PG_UP        &kp HOME         &kp UP           &kp END      &kp C_MUTE        &trans
&trans      &trans           &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_RIGHT  &msc SCRL_DOWN     &mmv MOVE_LEFT   &kp PG_DN        &kp LEFT         &kp DOWN         &kp RIGHT    &kp C_VOL_UP      &trans
&trans      &mkp MB5         &msc SCRL_LEFT  &mkp MCLK        &mkp MB4         &trans             &mmv MOVE_RIGHT  &kp PSCRN        &kp C_PREV       &kp C_PLAY_PAUSE &kp C_NEXT   &kp C_VOL_DN      &trans
&kp C_MUTE  &trans           &trans          &trans           &trans           &trans             &mkp LCLK        &trans           &trans           &trans           &trans       &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "NAV";
        };

        NUMBLOCK {
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans        &trans  &trans  &trans  &trans     &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &trans    &trans  &kp SLASH     &kp N7  &kp N8  &kp N9  &kp MINUS  &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &trans    &trans  &kp ASTERISK  &kp N4  &kp N5  &kp N6  &kp PLUS   &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &kp TAB       &kp N1  &kp N2  &kp N3  &kp ENTER  &trans
&trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans        &trans  &kp N0  &kp DOT &kp EQUAL
            >;

            display-name = "NUMBLOCK";
        };

        OEM_ALT {
            bindings = <
&kp TILDE  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &kp F6  &kp F7  &kp F8      &kp F9     &kp F10      &trans
&trans     &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans  &kp F11     &kp F12    &kp UNDER    &kp PLUS
&trans     &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans  &trans      &trans     &kp LBRC     &kp RBRC
&trans     &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans  &trans  &sys_reset  &soft_off  &bootloader  &trans
&trans     &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans  &trans      &trans     &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "OEM_ALT";
        };

        SPECIAL_CHARS {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &altcode_EURO  &trans  &trans    &trans  &trans  &mm_ue  &trans  &mm_oe  &trans  &trans
&trans  &mm_ae  &altcode_ss  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "SPECIAL_CHARS";
        };

        GAMING {
            bindings = <
&kp ESC  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5       &trans  &trans  &trans    &trans    &trans     &trans  &trans
&kp N6   &kp TAB    &kp Q     &kp W     &kp E      &kp R        &kp V   &trans  &trans    &kp UP    &trans     &trans  &kp BSPC
&kp N7   &kp LSHFT  &kp A     &kp S     &kp D      &kp F        &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&kp N8   &kp LCTRL  &kp Z     &kp X     &kp C      &kp V        &trans  &trans  &trans    &trans    &trans     &trans  &trans
&kp F1   &kp GRAVE  &kp LGUI  &kp LALT  &kp SPACE  &kp ENTER    &trans  &to 0   &MO_6to0  &trans    &trans     &trans
            >;

            display-name = "GAMING";
        };

        UTILITY {
            bindings = <
&out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &bt BT_CLR  &rgb_ug RGB_TOG  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &out OUT_USB
&trans        &trans        &trans        &trans        &trans        &trans          &mmv MOVE_DOWN   &trans      &trans           &trans           &trans           &trans           &trans
&trans        &kp F2        &kp F5        &kp F11       &kp F12       &macro_brackets &mmv MOVE_LEFT   &trans      &kp LC(BSPC)     &macro_del_line  &macro_fat_arrow &trans           &trans
&trans        &kp F6        &macro_git_commit &macro_quotes &macro_parens &macro_braces   &mmv MOVE_RIGHT  &trans      &trans           &trans           &trans           &trans           &trans
&trans        &mkp RCLK     &trans        &trans        &trans        &trans          &mkp LCLK        &trans      &trans           &trans           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "UTILITY";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer_2 {
            if-layers = <1 3>;
            then-layer = <4>;
        };
    };
};
